@main-color: #163d26;

._footer {
  display: flex;
  height: 10vh;
  background-color: @main-color;
  ._footer_text {
    display: flex;
    align-items: center;
    font-size: 2rem;
    margin-left: 1vw;
    color: #fff;
  }
}

@media only screen and (max-width: 430px) {
  ._footer {
    width: auto;
    height: 6vh;

    ._footer_text {
      font-size: 0.8rem;
    }
  }
}
