html,
body,
#root {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
@main-color: #163d26;
// @font-face {
//   font-family: Playfair Display;
//   src: url("../fonts/PlayfairDisplay-ExtraBoldItalic.ttf");
// }

.MainPage_Container {
  width: 100vw;
  height: 100vh;
  header {
    height: 50px;
    width: 100%;
    display: flex;

    .logo {
      display: flex;
      align-items: center;
      margin-left: 1rem;
      font-weight: bold;
      font-size: 1.2em;
      color: @main-color;
      // font-family: "Playfair Display", serif;
      // font-style: italic;
    }
    .btn_Box {
      display: flex;
      float: right;
      margin-left: auto;
      align-items: center;
      button:hover {
        cursor: pointer;
        color: #ccc;
      }
      .user_name {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .toggle {
    width: 100%;
    height: 5%;
    background-color: #163d26;
    .toggle_item {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    .toggle_item_list {
      color: #ccc;
      .list_btn1 {
        background-color: #ff4d4d;
        width: 100px;
        height: 100%;
      }
    }
  }
  .main_Container {
    width: 100%;
    height: 100vh;
    padding: 0% 15%;
    box-sizing: border-box;

    .infor_Container {
      width: 100%;
      height: 100%;
      box-sizing: border-box;

      .image_box {
        position: relative;
        border-radius: 2vw;
        background-size: cover;
        width: 100%;
        height: 40%;
        box-shadow: 0px 0px 2px rgb(0, 0, 0, 0.5);
        margin-bottom: 2vw;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 2vw;
          filter: brightness(0.6);
        }
        .main_img_text {
          position: absolute;
          transform: translate(-50%, -50%);
          top: 35%;
          left: 50%;
          width: 100%;
          text-align: center;
          color: #fff;
          font-size: 3em;
        }
        .image_box_div {
          position: absolute;
          display: flex;
          top: 80%;
          left: 50%;
          width: 10vw;
          height: 5vh;
          background-color: @main-color;
          transform: translate(-50%, -50%);
          box-shadow: 0px 0px 16px rgb(0, 0, 0, 0.5);
          border-radius: 1vw;
          .Main_img_btn {
            width: 100%;
            color: #fff;
            align-items: center;
            justify-content: center;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
      .Meal_box {
        width: 100%;
        height: 50%;
        margin-bottom: 2vw;
        .Meal_box_user {
          display: flex;
          align-items: center;
          justify-content: center;
          box-sizing: border-box;
          height: 20%;
          line-height: 1vh;
          font-size: 2rem;
          color: @main-color;
          span {
            color: #000;
          }
        }

        .Meal_infor {
          height: 80%;
          padding: 0 1vw;
          display: flex;
          align-items: center;
          justify-content: center;
          .LoadingAnimation {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            background-color: transparent;
            font-size: 1.5em;
            font-weight: bold;
            border: 1px solid #ccc;
            border-radius: 1vw;
          }
          .Meal_components {
            width: 16vw;
            margin-left: 0.5vw;
            height: 36vh;
            border: 1px solid #ccc;
            border-radius: 1vw;
            transition: transform 0.3s ease-in-out;

            &:hover {
              transform: scale(1.05) translateY(-20px);
            }

            .Meal_components_img {
              width: 100%;
              height: 80%;
              border-bottom: 1px solid #ccc;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-top-left-radius: 1vw;
                border-top-right-radius: 1vw;
              }
            }
            .Meal_components_text {
              width: 100%;
              height: 20%;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
      .kcal_box {
        display: flex;

        width: 100%;
        height: 40%;
        border: 1px solid #ccc;
        border-radius: 1vw;

        .chart_box {
          width: 50%;
          height: 100%;
          border-right: 1px solid #ccc;

          ._kcal {
            width: 100%;
            height: 20%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            color: blue;
          }
          .pieChart {
            width: 100%;
            height: 80%;
          }
        }
        .chart_infor {
          width: 50%;
          height: 100%;
        }
      }
    }
  }
}

// .MainPage_footer {
//   height: 6vh;
//   background-color: @main-color;
//   z-index: 1;

//   .footer_text {
//     box-sizing: border-box;
//     font-size: 2rem;
//     margin-left: 1rem;
//     color: #fff;
//   }
// }

.custom-slick-slider {
  width: 100%;
  .slick-list {
    // 상단 짤림 방지 커스텀 스타일 조정 불필요 !
    display: flex;
    width: 100%;
    height: 45vh;
    .slick-slide {
      height: auto;
    }
    .slick-track {
      display: flex;
      align-items: center;
    }
  }
}

.popup {
  background-color: #fff;
  position: fixed;
  width: 35vw;
  height: 60vh; // ai텍스트 길이에 따라 팝엉창 길이가 길어짐
  box-shadow: 0px 0px 2px rgb(0, 0, 0, 0.1);
  border-radius: 1vw;
  padding: 1vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .Menu_box {
    width: 100%;
    height: 50%;
    display: flex;
    .popup_image {
      width: 100%;
      height: 100%;
      border-left: 1px solid #ccc;
      border-top-left-radius: 1vw;
      border-top: 1px solid #ccc;
      img {
        width: 100%;
        height: 100%;
        background-size: cover;
        border-top-left-radius: 1vw;
      }
    }
    .Menu_info {
      width: 100%;
      height: 100%;
      padding: 1vw 0 1vw 1vw;
      border-top: 1px solid #ccc;
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
      border-top-right-radius: 1vw;
      border-top-right-radius: 1vw;
      justify-content: center;
      p {
        margin-top: 1vh;
        margin-bottom: 1vh;
      }
      span {
        color: #ff4d4d;
      }
    }
  }

  .NutritionInfo {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
    .NutritionInfo_Icon {
      margin-top: 1vh;
      width: 80%;
      height: 50%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .mini_icon {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          width: 30px;
          height: 30px;
        }

        .IconName,
        .mini_text {
          margin-top: 0.3vw;
          color: #ccc;
        }
      }
    }
    .NutritionInfo_ai {
      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow-y: scroll;
      width: 100%;
      min-height: 40%;
      height: auto;
      padding-left: 1vw;
      border-top: 1px solid #ccc;
    }
  }

  .closePopUp {
    width: 100%;
    height: 20%;
    padding: 0 1vw;
    .close_Btn {
      background-color: #ff4d4d;
      border-radius: 1vw;
      color: #fff;
      width: 50px;
      height: 30px;
      float: right;
      margin-top: 1vw;
      &:hover {
        cursor: pointer;
      }
    }
    .favorites_btn {
      background-color: #00e68a;
      border-radius: 1vw;
      color: #fff;
      width: 70px;
      height: 30px;
      float: left;
      margin-top: 1vw;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
