.Survey5_select_div {
  width: 100%;
  height: 20%;
  border: 1px solid #ccc;
  margin-bottom: 1vw;
  .Survey5_select_foodName {
    display: flex;
    align-items: center;
    width: 100%;
    height: 30%;
    margin-left: 1vw;

    p {
      display: flex;
      align-items: center;
      width: 80%;
      height: 100%;
      font-weight: bold;
      font-size: 1rem;
    }
    .SelectAll_btn {
      display: flex;
      align-items: center;
      width: 20%;
      height: 100%;
      button {
        width: 5vw;
        height: 3vh;
        border: 1px solid #ccc;
        border-radius: 1vw;
        &:hover {
          cursor: pointer;
          border: 1px solid #163d26;
        }
      }
    }
  }
  .Survey5_select_food {
    width: 100%;
    height: 70%;

    table {
      width: 100%;
      height: 100%;
      td {
        text-align: center;
        width: 33%;
        height: 50%;
        border: 1px solid #ccc;
        button {
          width: 100%;
          height: 100%;
          &:hover {
            cursor: pointer;
          }
          &.selected {
            background-color: #163d26;
            color: #ffffff;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 430px) {
  .Survey5_select_div {
    width: 100%;
    height: 25%;

    .Survey5_select_foodName {
      .SelectAll_btn {
        margin-right: 4vw;
        width: 22%;
        button {
          width: 30vw;
          height: 3vh;
          border-radius: 3vw;
        }
      }
    }
    .Survey5_select_food {
      width: 100%;
      height: 70%;
      table {
        width: 100%;
        height: 100%;
        tbody {
          td {
            width: 33%;
            height: 50%;
            button {
              font-size: 0.6rem;
            }
          }
        }
      }
    }
  }
}
