html,
body,
#root {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@main-color: #163d26;

.SignupPage_Container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  min-width: 1200px;
  min-height: 700px;
  header {
    height: 5%;
    width: 100%;
    .logo {
      display: flex;
      align-items: center;
      margin-left: 1vw;
      font-weight: bold;
      color: @main-color;
      img {
        width: 50px;
        height: 50px;
      }
    }
  }
  .SingupPage {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .SingupBox1 {
      width: 400px;
      height: 500px;
      padding: 2vw;
      p {
        text-align: center;
        font-weight: bold;
        margin-bottom: 1vh;
        color: @main-color;
      }
    }
    form {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 50%;

      div {
        display: flex;
        align-items: center;
        width: 100%;
        input {
          width: 90%;
          height: 30px;
          outline: none;
          border: none;
        }
      }
    }
  }
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  height: 70px;
  margin-bottom: 2vh;
  border: 1px solid #ccc;
  border-radius: 0.5vw;
  .idbox {
    border-bottom: 1px solid #ccc;
    button {
      width: 6vw;
      height: 2.5vh;
      border: 1px solid #ccc;
      margin-right: 0.5vw;
      color: #ccc;
      border-radius: 1vw;
      cursor: pointer;
      &:hover {
        color: #000;
        border: 1px solid #000;
      }
      &.disabled {
        color: red;
        border: 1px solid red;
      }
    }
  }
}

.SingupBox2 {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 500px;
  margin-bottom: 2vh;
  border: 1px solid #ccc;
  border-radius: 0.5vw;
  div:not(:nth-child(n + 5)) {
    border-bottom: 1px solid #ccc;
    width: 100%;
    height: 33px;
  }
  select {
    width: 100%;
    outline: none;
    border: none;
  }
  .gender {
    box-sizing: border-box;
    padding: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      width: 7vw;
      height: 3vh;
      border: 1px solid #ccc;
      cursor: pointer;
    }
    .selected {
      background-color: #163d26;
      color: white;
    }
  }
}
button {
  border: none;
  outline: none;
  background-color: transparent;
}

.certification_btn {
  width: 100%;
  line-height: 5vh;
  background-color: @main-color;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 2vh;
  border-radius: 0.5vw;
}
.certification_btn:hover {
  background-color: darken(@main-color, 10%);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    font-size: 0.7rem;
    color: red;
  }
}
.call {
  border: none;
}

.showbox {
  border: 1px solid #ccc;
  border-radius: 0.5vw;
  margin-bottom: 2vh;
  input {
    margin-left: 1vw;
  }
  .Re_request_btn {
    width: 5vw;
    height: 2.5vh;
    border: 1px solid #ccc;
    margin-right: 0.5vw;
    color: #ccc;
    border-radius: 1vw;
    cursor: pointer;
    &:hover {
      color: #000;
      border: 1px solid #000;
    }
  }
}

.IDcheck {
  width: 100px;
  height: 20px;
  border: 1px solid #ccc;
  margin-right: 10px;
  color: #ccc;
  border-radius: 10px;
  cursor: pointer;

  &.disabled {
    color: red;
    border: 1px solid red;
    cursor: not-allowed;
  }

  &:hover:not(.disabled) {
    color: #000;
    border: 1px solid #000;
  }
}
