html,
body,
#root {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
@main-color: #163d26;

.SurveyContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  header {
    height: 5%;
    width: 100%;
    display: flex;

    .logo {
      display: flex;
      align-items: center;
      margin-left: 1rem;
      font-weight: bold;
      font-size: 1.2em;
      color: @main-color;
    }
  }
  .SurveyContainer2 {
    width: 100%;
    height: 100%;
  }
}

.SurveyPage_footer {
  display: flex;
  height: 6vw;
  background-color: @main-color;
  .footer_text {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    font-size: 2rem;
    margin-left: 1rem;
    color: #fff;
  }
}
